{% load i18n %}

{% blocktrans %}
Hello,
{% endblocktrans %}

{% blocktrans %}
We received a request to reset the password for your A Terapija account.
{% endblocktrans %}

{% blocktrans %}
To create a new password, please use the link below:
{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'aterapija:password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}
If you didn't request a password reset, you can safely ignore this email. Your password will remain unchanged.
{% endblocktrans %}

{% blocktrans %}
Kind regards,
{% endblocktrans %}

A Terapija